<div class="manager-layout">
  @if (visibleError(); as error) {
    <div class="error-banner">
      <mat-icon>error_outline</mat-icon>
      <span>{{ error }}</span>
      <button mat-icon-button type="button" (click)="dismissError()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  }
  <div class="table-container">
      <app-gateway-table
      actionMode="manage"
      [gateways]="gatewayList()"
      [sensors]="sensorList()"
      [expandedGateway]="expandedGateway()"
      [gatewayLoading]="gatewayLoading()"
      [sensorLoading]="sensorLoading()"
      [gatewayTotal]="gatewayTotal()"
      [gatewayPageIndex]="gatewayPageIndex()"
      [gatewayLimit]="gatewayLimit()"
      [sensorTotal]="sensorTotal()"
      [sensorPageIndex]="sensorPageIndex()"
      [sensorLimit]="sensorLimit()"
      (commandRequested)="onCommandRequested($event)"
      (gatewayCreateRequested)="onCreateGateway()"
      (gatewayDeleteRequested)="onDeleteGateway($event)"
      (sensorCreateRequested)="onCreateSensor($event)"
      (sensorDeleteRequested)="onDeleteSensor($event)"
      (expandedGatewayChange)="onExpandedGatewayChange($event)"
      (gatewayPageChange)="onGatewayPageChange($event)"
      (sensorPageChange)="onSensorPageChange($event)"
    />
  </div>

</div>
