<h2 mat-dialog-title>{{ data.user ? 'Modifica' : 'Aggiungi' }} Utente</h2>
<mat-dialog-content>
  <form [formGroup]="form">
    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Username</mat-label>
      <input matInput formControlName="username" type="text" required />
      @if (serverErrors()['username']) {
        <mat-error>{{ serverErrors()['username'] }}</mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" type="email" required />
      @if (serverErrors()['email']) {
        <mat-error>{{ serverErrors()['email'] }}</mat-error>
      }
    </mat-form-field>

    @if (data.role === UserRole.TENANT_ADMIN) {
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Tenant</mat-label>
        <mat-select formControlName="tenantId" required>
          @for (tenant of tenantList(); track tenant.name) {
            <mat-option [value]="tenant.name">{{ tenant.name }}</mat-option>
          }
        </mat-select>
        @if (serverErrors()['tenantId']) {
          <mat-error>{{ serverErrors()['tenantId'] }}</mat-error>
        }
      </mat-form-field>
    }

    @if (generalError()) {
      <div class="error-text">
        {{ generalError() }}
      </div>
    }
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">Annulla</button>
  <button
    mat-raised-button
    color="primary"
    (click)="onSave()"
    [disabled]="form.invalid"
  >
    Salva
  </button>
</mat-dialog-actions>
