<div class="tenant-manager-container">
  <div class="header-section">
    <h1>Tenant Management</h1>
    <button mat-raised-button color="primary" (click)="onCreateTenant()">
      + Aggiungi Tenant
    </button>
  </div>

  <div class="user-content">
    <app-tenant-table
      [tenants]="tenants()"
      [loading]="(loading() || false)"
      (dashboardRequested)="onGoToDashboard($event)"
      (deleteRequested)="onDeleteTenant($event)"
    ></app-tenant-table>

    <mat-paginator
      [length]="total()"
      [pageSize]="limit()"
      [pageIndex]="pageIndex()"
      [pageSizeOptions]="[5, 10, 25, 100]"
      (page)="onPageChange($event)"
      aria-label="Seleziona pagina">
    </mat-paginator>
  </div>

</div>