.tenant-table {
  width: 100%;
}

::ng-deep tr.mat-header-row,
::ng-deep tr.mat-mdc-header-row {
  background-color: #dedcdcff !important;
}

::ng-deep th.mat-header-cell,
::ng-deep th.mat-mdc-header-cell {
  border-bottom: 2px solid #000000 !important;
  font-weight: bold !important;
}

.actions-header,
.actions-cell {
  text-align: right;
  padding-right: 1rem;
  white-space: nowrap;
}
