<div class="manager-container">
  <div class="manager-header">
    <h1>{{ context().title }}</h1>
    <button mat-raised-button color="primary" (click)="onCreateUser()" [disabled]="loading()">
     <mat-icon>add</mat-icon> Aggiungi Nuovo Utente
    </button>
  </div>

  <div class="manager-content table-container">
    @if (error()) {
      <div class="error-banner">
        <span>{{ error() }}</span>
      </div>
    }

    <app-user-table
      [users]="users()"
      [loading]="loading()"
      [total]="total()"
      [pageIndex]="pageIndex()"
      [limit]="limit()"
      [targetRole]="context().role"
      (deleteRequested)="onDeleteUser($event)"
      (pageChange)="onPageChange($event)"
    >
    </app-user-table>
  </div>
</div>
